@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap");

.container {
  width: 100%;
  height: 100vh;
  background-color: #401520;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.clock {
  font-family: 'Share Tech Mono', monospace;
  color: #daf6ff;
  text-shadow: 0 0 20px #f1d3f5;
  line-height: 1.2;
  text-align: center;
}

.clock-date {
  font-size: 25px;
}

.clock-time {
  font-size: 100px;
}
